node_modules
mockServiceWorker.js
gateway/**/
gateway/**/
*/dist/
*/**/config
*/**/scripts
*/**/package-lock.json
*/**/build
*/**/src/common
*/**/src/resource/locales
/build/.npmrc
/**/web/.reports
/**/pwa/.reports
.stories
.storiesbuild

# System Files
.DS_Store
Thumbs.db
*.log
data/*
data/db/*
data/redis/*
/gateway/dist

.idea/*
venv/*
./venv/*
